body {
	color: #333;
	background: #F4F5F5;
	line-height: 2em;
	font-size: 12pt;
	font-family: "Source Sans Pro", "Open Sans", sans-serif;
}

#menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 7px 0;
	background: #222325;
	background: rgba(0,0,0, .8);
	background-image: linear-gradient(90deg,#222325,#3b3c3f,#222325);
	z-index:9000;
	cursor: default;
}

#menu > * {
	color: #a7a7a7;;
	text-decoration: none;
	margin: 0 1%;
	font-size: 1rem;
	cursor: pointer;
	transition: color 0.15s ease;
}

#menu a:hover, #menu a.a { 
	color: white;
}

#article, #banner {
	border-radius: 8px;
	box-shadow: rgb(27 20 65 / 10%) 0px 10px 20px 0px;
	border: none;
	/*
	box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);
	border: 1px solid rgba(0,0,0,.14);
	*/
	}

#article {
	max-width: 910px;
	margin: auto;
	margin-top: 78px;
	text-align: justify;
	padding: 15px 35px;
	background: #fff;
	}

#banner {
	display: block;
	margin: auto;
	margin-top: 18px;
	margin-bottom: -10px;
	padding: 5px;
	max-width: 100%;
	max-height: 100%;
	width: 900px;
	height: 150px;
	transition: border 0.5s ease;
	border: 1px solid rgba(0,0,0,.14);
	box-shadow: none;
	}

#banner:hover {
	border: 1px solid rgba(0,0,0,.34);
	}

#banner.big {
	height: 250px;
	}


#article.index_russian > p {
	text-indent: 25px;
	}
